
@charset "utf-8";

// Declare variables here

// restore default behaviour
$body-overflow-y: auto;

// Section variables
$container-max-width: 1024px;

@import './src/lib/styles/variables.scss';

$primary: $blue;
// $code: $dark-green;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/form/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/helpers/_all";
@import "../node_modules/bulma/sass/layout/_all";
@import 'bulma-timeline/dist/css/bulma-timeline.sass';